.container{
    width: 740px;
    margin: 0 auto;
  }
  h1{
    text-align: center;
  }
  .album{
    height: 740px;
    width: 740px;
    overflow: hidden;
  }
  .images{
    position: relative;
    display: flex;
    height: 740px;
  }
  img{
    width: 740px;
    height: 740px;
  }
  button, button:active, button:focus{
    width: 100px; height: 30px;
    border: none;
    color: white;
    background-color: teal;
    outline: none;
  }
  button:hover{
    background-color: turquoise;
  }
  button:disabled{
    background-color: gray;
  }
  .prev{
    float: left;
  }
  .next{
    float: right;
  }