<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#page-top">{{ site.title }}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li class="page-scroll">
          <a href="#portfolio">{% t nav.portfolio %}</a>
        </li>
        <li class="page-scroll">
          <a href="#about">{% t nav.about %}</a>
        </li>
        <li class="page-scroll">
          <a href="#contact">{% t nav.contact %}</a>
        </li>
        <!-- Language Toggle -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            {% if site.lang == 'ko' %}한국어{% else %}English{% endif %} <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
            {% for page in pages %}
              <li><a href="{{ page.url | prepend: site.baseurl }}" class="{{ page.lang }}">
                {% if page.lang == 'ko' %}한국어{% else %}English{% endif %}
              </a></li>
            {% endfor %}
            
            {% if site.lang == 'ko' %}
              <li><a href="{{ site.baseurl_root }}">English</a></li>
            {% else %}
              <li><a href="{{ site.baseurl_root }}/ko/">한국어</a></li>
            {% endif %}
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
